//**  Footer **//
@import 'settings.scss';

.footerStyle{
    background-color: $black;
    margin-right: -100px;
    margin-left: -100px; 
    align-items: center;
  
    img {
    margin-top:66px;  
    width: 122px;
    height: 39.444px; 
    }
  
    p{
      margin-top:28.56px;
      margin-bottom:29px;
      height: 46px;
      line-height: 34.224px;
    }
  
    @media (max-width: $smallScreen) {
      margin-left:-20px;
      margin-right:-20px;
  
      p{
        width:114px;
        line-height:17.112px; 
      }
    }
  }