$smallScreen: 880px;

body {
  margin-left: 100px;
  margin-right:100px;
  margin-bottom:0px;
  margin-top:0px;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $smallScreen) {
    margin-left:20px;
    margin-right:20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, p, a {
  margin:0px;
  padding:0px;
}

.WhiteText{
  color:white;
}

.RedText{
  color:#FF6060;
}

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.SmallText{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500; 
}

.MediumSizeText{
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500; 

  @media (max-width: $smallScreen) {
    font-size: 12px;
  }
}

.LargeText{
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500; 

  @media (max-width:$smallScreen) {
    font-size: 24px;
  }
}

.Txt404{
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500; 
}

.Title404{
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700; 
}

.FlexRow{
  display: flex;
  justify-content: space-between;
}

.FlexColumn{
  display:flex;
  flex-direction: column;
}

.NavStyle{
margin-top:45px;
margin-bottom:50px;

img{
  width:210.32px;
  height: 68px;
}

@media (max-width:$smallScreen) {
  img{
    width:145px;
  height: 46.9px;
  }

  margin-top:20px;
  margin-bottom:27px;
}
}

.LinkStyle{
  display: flex;
  text-align: right;
  gap: 57px;
  align-items: center;

  @media (max-width: $smallScreen) {
      gap:26px; 
}
}

.k-banner{
  mix-blend-mode: darken;
  border-radius: 25px;
  background: #000; 
  height: 223px;  
  margin-bottom:43px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;

  img{ 
  border-radius: 25px;
  opacity: 0.7;
  width:100%;
  height: 100%;
  object-fit: cover;
  }

  p{
    position: absolute;
    text-align: center;
  }

  @media (max-width: $smallScreen) {
    height:111px;
    margin-bottom:22px;

    p {
      text-align: left;
      margin-left: 16px;
      margin-right:140px;
    }
}
}

.footerStyle{
  background-color: black;
  margin-right: -100px;
  margin-left: -100px; 
  align-items: center;

  img {
  margin-top:66px;  
  width: 122px;
  height: 39.444px; 
  }

  p{
    margin-top:28.56px;
    margin-bottom:29px;
    height: 46px;
    line-height: 34.224px;
  }

  @media (max-width: $smallScreen) {
    margin-left:-20px;
    margin-right:-20px;
  }
}

.Style404{
margin-top:139px;
margin-bottom:139px;
gap:139px;
align-items: center;
}

.house-card {
  position: relative;
  width: 100%;
  height: 340px;
  border-radius: 10px;

  img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    border-radius: 10px;
    z-index: 1; 
  }

  p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    z-index: 2;
  }

  @media (max-width: $smallScreen) {
      height: 255px;
  }
}

.cards-container {
  height: 829px;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 50px 60px;
  border-radius: 25px;
  background: #F6F6F6;
  padding-top:56px;
  padding-bottom:43px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-bottom:50px;
  box-sizing: border-box;

  @media (max-width: $smallScreen) {
    background: none;
    grid-template-columns: 1fr;
    padding:0;
    gap:20px;
    height: 805px;
    margin-bottom:27px;
  }
}