$smallScreen: 880px;
$red :rgba(255, 96, 96, 1);
$grey:rgba(246, 246, 246, 1);
$white :rgba(255, 255, 255, 1);
$black:rgba(0, 0, 0, 1);

//** General **//
body {
  margin-left: 100px;
  margin-right:100px;
  margin-bottom:0px;
  margin-top:0px;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $smallScreen) {
    margin-left:20px;
    margin-right:20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, p, a, ul, li {
  margin:0px;
  padding:0px;
  list-style: none;
}

.WhiteText{
  color: $white;
}

.RedText{
  color:$red;
}

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.SmallText{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; 

  @media (max-width: $smallScreen) {
    font-size: 14px;
}
}

.MediumSizeText{
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500; 
  line-height: 142.6%;

  @media (max-width: $smallScreen) {
    font-size: 12px;
  }
}

.LargeText{
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; 

  @media (max-width:$smallScreen) {
    font-size: 24px;
  }
}

.FlexRow{
  display: flex;
  justify-content: space-between;
}

.FlexColumn{
  display:flex;
  flex-direction: column;
}

//** Page 404 **//
.Txt404{
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500; 
  text-align: center;
  line-height:51.336px;

  @media (max-width:$smallScreen) {
    font-size: 18px;
    margin-left:58px;
    margin-right:58px;
    line-height:25.668px;
  }
}

.Title404{
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700; 

  @media (max-width:$smallScreen) {
    font-size: 96px; 
  }
}

.Style404{
  margin-top:139px;
  margin-bottom:139px;
  gap:139px;
  align-items: center;
  
    a{
      text-decoration: underline;
    }
  
  @media (max-width: $smallScreen) {
    margin-top:113px;
    margin-bottom:113px;
    gap:113px;
  }
  }

//** HeaderNav **//
.NavStyle{
margin-top:45px;
margin-bottom:50px;

img{
  width:210.32px;
  height: 68px;
}

@media (max-width:$smallScreen) {
  img{
    width:145px;
  height: 46.9px;
  }

  margin-top:20px;
  margin-bottom:27px;
}
}

.LinkStyle{
  display: flex;
  text-align: right;
  gap: 57px;
  align-items: center;

  @media (max-width: $smallScreen) {
      gap:26px; 
}
}

//** BannerStyle **//
.k-banner{
  mix-blend-mode: darken;
  border-radius: 25px;
  background: $black; 
  height: 223px;  
  margin-bottom:43px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;

  img{ 
  border-radius: 25px;
  opacity: 0.7;
  width:100%;
  height: 100%;
  object-fit: cover;
  }

  p{
    position: absolute;
    text-align: center;
  }

  &.B2{
    margin-bottom:38px;
  }

  @media (max-width: $smallScreen) {
    &.B1{
      height:111px;
      margin-bottom:22px;
    }  

    &.B2{
      height: 223px; 
      margin-bottom:19px;
    }

    p {
      text-align: left;
      margin-left: 16px;
      margin-right:140px;
    }
}
}

//**  Footer **//
.footerStyle{
  background-color: $black;
  margin-right: -100px;
  margin-left: -100px; 
  align-items: center;

  img {
  margin-top:66px;  
  width: 122px;
  height: 39.444px; 
  }

  p{
    margin-top:28.56px;
    margin-bottom:29px;
    height: 46px;
    line-height: 34.224px;
  }

  @media (max-width: $smallScreen) {
    margin-left:-20px;
    margin-right:-20px;

    p{
      width:114px;
      line-height:17.112px; 
    }
  }
}

//** Cards **//
.house-card {
  position: relative;
  width: 100%;
  height: 340px;
  border-radius: 10px;

  img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    border-radius: 10px;
    z-index: 1; 
  }

  p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color:$white;
    z-index: 2;
  }

  @media (max-width: $smallScreen) {
      height: 255px;
  }
}

.cards-container {
  height: 829px;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 50px 60px;
  border-radius: 25px;
  background: $grey;
  padding-top:56px;
  padding-bottom:43px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-bottom:50px;
  box-sizing: border-box;

  @media (max-width: $smallScreen) {
    background: none;
    grid-template-columns: 1fr;
    padding:0;
    gap:20px;
    height: 805px;
    margin-bottom:27px;
  }
}

//** Collapse **//
.collapse{
  gap:30px;
  align-items: center;
  margin-bottom: 38px;
  margin-left:135px;
  margin-right:135px;

  @media (max-width: $smallScreen) {
    margin-left:0;
    margin-right:0;
    margin-bottom:19px;
    gap:20px;
  }
}

.collapseBtn{
  width:100%;
  background-color:$red;
  display: flex;
  padding: 10px 20px 10px 15px; 
  border-radius: 5px; 
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;

  @media (max-width: $smallScreen) {
    height:30px;
    padding:10px;
  }
}

.collapseIcon{
  cursor: pointer;
  flex-shrink: 0; 
  transition: transform 0.4s ease-out;transform-origin: center center;

   img{
    width:32px;
    height:32px;
  }

  &.open {
    transform: rotate(-180deg);
  }

  @media (max-width: $smallScreen) {
    img{
      width:20px;
      height:20px;
    }
  }
}

.collapseTxt {
  padding: 20px 20px;
  background-color: $grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
  overflow: hidden;
  transform-origin: top;
  animation: slideDownAnimation 0.4s ease-out;
}

.collapseOpen {
  width:100%;
}

@keyframes slideDownAnimation {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
  }
}

.collapseTxtContainer {
  overflow: hidden;
  transform-origin: top;
  -webkit-animation: slideDownAnimation 0.4s ease-out;
  animation: slideDownAnimation 0.4s ease-out;
  position: relative;
}

//** Caroussel **//
.CarousselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  height: 415px;
  position: relative;
  overflow: hidden;
  border-radius: 25px; 
  margin: 0 auto;
  margin-bottom: 30px;

  img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  .CarousselImage {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }

  .CarousselCounter {
    position: absolute;
    bottom: 24.92px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $smallScreen) {
      display:none;
    }
  }

  .CarousselNav {
    position: absolute;
    display: flex;
    align-items: center;
    Width:100%;

    .NavArrow {
      width: 46.68px;
      height: 79.2px;
      cursor: pointer;
      position: absolute;

      @media (max-width: $smallScreen) {
        width: 14px;
        height: 24px; 
        }
    }

    .LeftArrow {
      left: 23.36px;
    }

    .RightArrow {
      right: 23.36px;
    }
  }

  @media (max-width: $smallScreen) {
    height: 255px;
    margin-bottom:15px;
    }
}

//** LogementPage Components **//
.LogementDisposition{

  @media (max-width: $smallScreen) {
    display:flex;
    flex-direction: column;
    }
}

.logementPresentation{
  margin-bottom: 20px;
  
  h2{
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500; 

    @media (max-width: $smallScreen) {
      font-size: 18px;
      }
  }

  @media (max-width: $smallScreen) {
    gap:7px;
    margin-bottom: 10px;
    } 
}

.logementTags{
  gap:10px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
  flex-wrap: wrap;

  .Tag{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #FF6060; 
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500; 
    padding: 5px 25px; 
    
    @media (max-width: $smallScreen) {
      font-size: 10px;
      padding: 5px 15px;
      }
  }

  @media (max-width: $smallScreen) {
    margin-bottom:16px;
    }
}

.LogementHostAndRateStyle{
  margin-bottom:10px;

  @media (max-width: $smallScreen) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom:13px;
    }
}

.logementHost{
  gap: 11px;
  margin-bottom: 20px;

  img{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 32px;

    @media (max-width: $smallScreen) {
      width: 33px;
      height: 33px;
      }
  }

  p{
    width:93px;
    text-align: right;
    align-items: center;
    display:flex;

    @media (max-width: $smallScreen) {
      width: 70px;
      }
  }

  @media (max-width: $smallScreen) {
    margin-bottom:0;
    }
}

.rating{
  width:100%;
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;

  img{
    width: 24.75px;
    height: 24px; 

    @media (max-width: $smallScreen) {
      width: 13.406px;
      height: 13px; 
      }
  }

    @media (max-width: $smallScreen) {
      height: 18px;
      gap:8px;
      }
}

.LogementCollapseStyle{
  gap:76px;
  margin-bottom: 50px;
  
  .collapseBtn{
    border-radius:10px;

    @media (max-width: $smallScreen) {
      border-radius:5px;
      }
  }

  @media (max-width: $smallScreen) {
    flex-direction: column;
    gap:20px;
    margin-bottom: 27px;
    }
}