//** LogementPresentation Component **/
@import 'settings.scss';

.logementPresentation{
    margin-bottom: 20px;
    
    h2{
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 500; 
  
      @media (max-width: $smallScreen) {
        font-size: 18px;
        }
    }
  
    @media (max-width: $smallScreen) {
      gap:7px;
      margin-bottom: 10px;
      } 
  }